/*Owerwrite bootstrap*/
.navbar {
  margin-bottom: 0 !important;
  padding: 15px !important;
  background-color: #161616 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.navbar li a {
  color: #fff !important;
}

.navbar li a:hover {
  color: #c0a062 !important;
}

.navbar .active a {
  background-color: transparent !important;
}

.navbar-brand {
  background-color: #c0a062 !important;
  color: #161616 !important;
  font-size: 24px !important;
  font-weight: bold;
}

.navbar li a {
  font-size: 18px;
}

/*Home Component*/
.Home {

}

.Home__hero {
  background-size: cover;
  position:relative;
  height:90vh;
  background-color: #161616;
}

.Home__hero_content {
  position: absolute;
  bottom: 100px;
}

.Home__hero_title {
  font-size: 50px;
  color: #c0a062;
}

.Home__hero_subtitle {
  font-size: 20px;
  color: #fff;
}

.Link__project {
  color: transparent;
}

.Link__project:hover {
  color: #fff;
}

.Project__item {
  width: 420px;
  height: 200px;
  background-size: cover;
  margin: 25px auto 0 auto;
}

.Project__item_overlay {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: table;
}

.Project__item_overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.Project__item_link_icon {
  display: table-cell;
  vertical-align: middle;
}

.Project__item_glyph {
  font-size: 28px;
}

.btn-projects {
  background-color: #FF9800;
  padding: 12px 24px !important;
  color: #fff;
}

.Home__footer {
  margin-top: 40px;
  background-color: #c0a062;
  min-height: 250px;
  padding: 20px;
}

.Home__footer_title {
  color: #fff;
}

.Home__footer_subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.Home_footer_button, .Home_footer_button:hover {
  background-color: #161616;
  color: #fff !important;
  padding: 12px 24px !important;
}

#papirus {
  background-image: url(../static/papirus.png);
}

#voting-app {
  background-image: url(../static/voting-app.png);
}

#uzenerji {
  background-image: url(../static/uzenerji.png);
}

#rembrandt-tribute {
  background-image: url(../static/rembrandt-tribute.png);
}

#library {
  background-image: url(../static/library.png);
}

#hangman {
  background-image: url(../static/hangman.png);
}

#calculator {
  background-image: url(../static/calculator.png);
}

#pomodoro {
  background-image: url(../static/pomodoro.png);
}

#todo {
  background-image: url(../static/todo.png);
}

#quote-generator {
  background-image: url(../static/quote-generator.png);
}

#markdown-previewer {
  background-image: url(../static/markdown-previewer.png);
}

#camper-leaderboard {
  background-image: url(../static/camper-leaderboard.png);
}

#wikipedia-viewer {
  background-image: url(../static/wikipedia-viewer.png);
}

#weather-api {
  background-image: url(../static/weather-api.png);
}

#simon-game {
  background-image: url(../static/simon-game.png);
}

#recipe-box {
  background-image: url(../static/recipe-box.png);
}

#tictactoe {
  background-image: url(../static/tictactoe.png);
}

@media (max-width: 992px) {
  .Home__hero_content {
    bottom: 50px;
  }
}

@media (max-width: 768px) {
  .Home__hero_content {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 480px) {
  .Home__hero_title {
    font-size: 40px;
  }
  .Home__hero_subtitle {
    font-size: 20px;
  }
  .Project__item {
    width: 280px;
    height: 130px;
  }
}

@media (max-width: 320px) {
  .Home__hero_title {
    font-size: 30px;
  }
  .Home__hero_subtitle {
    font-size: 18px;
  }
}
